/* PureSnuggle */
.site-name {
  font-family: "Berkshire Swash", "Great Vibes", "Passero One",
    "Passions Conflict", "Playball", "Sansita Swashed", cursive;
  letter-spacing: 2px;
}

/* parent: input with icon */
.input-with-icon {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

/* input: box style */
.input-box {
  background: transparent;
  width: 100%;
  padding: 5px;
  margin-left: 1em;
}

.input-box:focus {
  outline: none;
}

.background {
  background-color: rgb(181, 191, 204);
}

.add-product-input {
  border-bottom: 2px solid orange;
}

.add-product-input:hover {
  box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px,
    rgba(238, 228, 228, 0.3) 0px 30px 60px -30px,
    rgba(232, 232, 232, 0.35) 0px -2px 6px 0px inset;
}

.shadow-effect {
  box-shadow: 0 0 20px rgba(111, 110, 110, 0.8);
}
